data/**
work/**
results/**
supervised_results_*/**
.nextflow.log 
.nextflow.log.*
nextflow.config
.nextflow/**
*.err
*.out
scripts/__pycache__/**
scripts/chunk*
scripts/pytorch.slurm
scripts/test_seqs.fa
all_results/**