conda.enabled = true

params {
   results = "/projects/zcsu_research1/dwils152/Bert-CRM/results"
   publish_dir = "/projects/zcsu_research1/dwils152/Bert-CRM/results"
   data = "/projects/zcsu_research1/dwils152/Bert-CRM/data"
   scripts = "/projects/zcsu_research1/dwils152/Bert-CRM/BertCRM/bert_crm"
   home = "/projects/zcsu_research1/dwils152/Bert-CRM"

   // Human Data
   //genome      = "${params.data}/human/fasta/hg38.fa"
   //crms        = "${params.data}/human/bed/Human_CRMs_lte_0.05.bed.sorted"
   //high_pval   = "${params.data}/human/bed/Human_CRMs_gt_1e-6.bed.sorted" //regions > pval of 1e-6
   //non_covered = "${params.data}/human/bed/non-coverage.bed"
   //blacklist   = "${params.data}/human/bed/hg38-blacklist.v2.bed"
   //organism    = "Human"

   // Mouse Data
   //genome = "${params.data}/mouse/fasta/mm10.fa"
   //crms = "${params.data}/mouse/bed/Mouse_CRMs_lte_0.05.bed.sorted"
   //high_pval = "${params.data}/mouse/bed/Mouse_CRMs_gt_1e-6.bed.sorted" //regions > pval of 1e-6
   //non_covered = "${params.data}/mouse/bed/non-coverage.bed"
   //blacklist = "${params.data}/mouse/bed/mm10-blacklist.v2.bed"
   //organism = "Mouse"

   // Fly Data
   genome      = "${params.data}/fly_2/fasta/dm6.fa"
   crms        = "${params.data}/fly_2/bed/Fly_CRMs_lte_0.05.bed.sorted"
   high_pval   = "${params.data}/fly_2/bed/Fly_CRMs_gt_1e-6.bed.sorted" //regions > pval of 1e-6
   non_covered = "${params.data}/fly_2/bed/non-coverage.bed"
   blacklist   = "${params.data}/fly_2/bed/dm6-blacklist.v2.bed"
   organism    = "Fly"
   chrom_sizes = "${params.data}/fly_2/bed/dm6.chrom.sizes"

   // Worm Data
   //genome = "${params.data}/worm_2/fasta/ce11.fa"
   //crms = "${params.data}/worm_2/bed/Worm_CRMs_lte_0.05.bed.sorted"
   //high_pval = "${params.data}/worm_2/bed/Worm_CRMs_gt_1e-6.bed.sorted" //regions > pval of 1e-6
   //non_covered = "${params.data}/worm_2/bed/non-coverage.bed"
   //blacklist = "${params.data}/worm_2/bed/ce11-blacklist.v2.bed"
   //organism = "Worm"

   // Arabidopsis Data
   //genome      = "${params.data}/tair/fasta/tair10.fa"
   //crms        = "${params.data}/tair/bed/Human_CRMs_lte_0.05.bed.sorted"
   //high_pval   = "${params.data}/tair/bed/Human_CRMs_gt_1e-6.bed.sorted" //regions > pval of 1e-6
   //non_covered = "${params.data}/tair/bed/non-coverage.bed"
   //blacklist   = "${params.data}/tair/bed/hg38-blacklist.v2.bed"
   //organism    = "Arabidopsis"
}

executor {
   scratch = true
   workDir = '/scratch/dwils152/tmp'
   name="slurm"       
   queueSize = 500
}

process { 
   

   withLabel: "Orion" {
      cpus = '1'
      time = '48.h'
      memory = '50GB'
      cache = 'lenient'
      queue = 'Nebula'
   }

   withLabel: "BigMem" {
      cpus='1'
      time = '10.h'
      memory = '100GB'
      cache = 'lenient'
   }

   withLabel: "Clust" {
      cpus='16'
      time='100.h'
      memory='100GB'
      cache='lenient'
   }

   withLabel: "Multithread" {
      cpus='32'
      time='250.h'
      memory='20GB'
      cache='lenient'
      queue='Orion'
   }

   withLabel: "DynamicAlloc" {
      cpus='1'
      time = '10.h'
      memory = {100.GB * task.attempt}
      //errorStrategy = {task.exitStatus in 137..140 ? 'retry'}
      errorStrategy = 'retry'
      cache='lenient'
   }

   withLabel: "Labels" {
      clusterOptions = '--partition=Nebula --nodes=1 --time=24:00:00 --mem=256G --cpus-per-task=8 --ntasks=1'
   }

   withLabel: "IgnoreError" {
      cpus='1'
      time = '10.h'
      memory = {16.GB * task.attempt}
      errorStrategy = 'ignore'
      queue = 'Andromeda'
      cache='lenient'
   }

   withLabel: "GPU" {
      clusterOptions = '--partition=Nebula_GPU --nodes=1  --time=40:00:00 --mem=40G --gres=gpu:4 --cpus-per-task=16 --ntasks=1'
      cache='lenient'
   }

   withLabel: "Tokenize" {
      clusterOptions = '--partition=Nebula --nodes=1  --time=48:00:00 --mem=200G --cpus-per-task=23 --ntasks=1'
      cache='lenient'
   }

}

//--nodelist=str-gpu21